$font-primary: 'Lato', sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#000c09, #3f4041);
  color: #FFF;
}

.container {
  font-family: 'Lato', sans-serif;
  text-align: center;

  &__block {
    text-align: center;
    &__image {
      margin-top: 5%;
    }
    &__text {
      margin-bottom: 1%;
    }
  }
 
  &__search-block {
    &__input {
      border-radius: 5px;
      border: 3px solid #00B4CC;
      color: #9DBFAF;
      padding: 5px;
      outline: none;
      height: 40px;
      width: 25%;
    }
    &__button {
      background: #00B4CC;
      border-radius: 5px;
      border: 3px solid #00B4CC;
      height: 30px;
      width: 30px;
    }
    .fa {
      color: #FFF;
    }
  }
}