$font-primary: 'Lato', sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#000c09, #3f4041);
  color: #FFF;
}

.container {
  font-family: 'Lato', sans-serif;
  text-align: center;

  &__block {
    text-align: center;
    &__image {
      margin-top: 5%;
    }
    &__text {
      margin-bottom: 1%;
    }
  }
 
  &__search-block {
    &__input {
      border-radius: 5px;
      border: 3px solid #00B4CC;
      font-size: 14px;
      color: #000c09;
      padding: 5px;
      outline: none;
      height: 40px;
      width: 25%;
    }
    @media (max-width: 310px) {
      &__search-block {
        &__input {
          width: 80%;
        }
        &__button {
          left: 80%;
        }
      }
    }
    
    &__button {
      background: #00B4CC;
      cursor: pointer;
      border-radius: 5px;
      border: 3px solid #00B4CC;
      left: 61%;
      height: 40px;
      position: absolute;
      width: 30px;
    }
    .fa {
      color: #FFF;
    }
  }
  .conteudo-render {
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    
    &__avatar {
    height: 150px;
    border-radius: 70px;
    }
  }
}